@use "./base";

/* ----------------Layout---------------------- */ 

@use "./layout";

/* ----------------Pages---------------------- */ 

@use "./pages";

/* ----------------Components---------------------- */

@use "./components";


/* ----------------Abstracts---------------------- */

@use "./abstracts";

/* ----------------Themes---------------------- */

@use "./themes";

/* ----------------Vendors---------------------- */

@use "./vendors";


// /* ----------------CSS---------------------- */

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: orange;
    height: 100px;
    // width: 100%;
}